<div class="container" *ngIf='rental; totalPrice'>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="card col-md-6 pb-4 pt-2">
            <div *ngIf="creditCards" class="mb-1">
                <select id="user-credit-cards-select" class="form-select form-control mb-3"
                    [ngModel]="selectedCreditCard" (ngModelChange)="fillCardInformation($event)">
                    <option [ngValue]="undefined">Kredi Kartlarınız</option>
                    <option [ngValue]="creditCard" *ngFor="let creditCard of creditCards">
                        {{ creditCard.cardName }} -
                        {{ creditCard.cardNumber }}
                    </option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <h4 class="panel-title">
                        Ödeme Sayfası
                    </h4>
                </div>
                <div class="col-md-5 mt-2">
                    <h6 class="card-subtitle mt-1 text-muted"><small><b>Kiralama Tarihi:</b> {{rental.rentDate}}</small>
                    </h6>
                    <h6 class="card-subtitle mt-1 text-muted"><small><b>Dönüş Tarihi:</b>
                            {{rental.returnDate}}</small></h6>
                </div>
            </div>
            <form [formGroup]="creditCardForm">
                <div class="form-group">
                    <label for="cardName">
                        Kart Sahibinin Adı Soyadı</label>
                    <div class="input-group">
                        <input type="text" id="cardName" formControlName="cardName" class="form-control"
                            placeholder="Valid Card Name" autofocus>
                    </div>
                    <label for="cardNumber">
                        Kart Numarası</label>
                    <div class="input-group">
                        <input type="text" id="cardNumber" formControlName="cardNumber" class="form-control"
                            placeholder="Valid Card Number" autofocus>
                    </div>
                    <div class="alert alert-danger" role="alert"
                        *ngIf="creditCardForm.get('cardNumber').hasError('required') && creditCardForm.get('cardNumber').touched">
                        Card bilgisi zorunludur
                    </div>
                    <div class="alert alert-danger" role="alert"
                        *ngIf="creditCardForm.get('cardNumber').hasError('pattern') && creditCardForm.get('cardNumber').touched">
                        Kart bilgileriniz hatalı
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7 col-md-7">
                        <div class="form-group">
                            <label for="expiryMonth">
                                Son Kullanma Tarihi</label>
                            <div class="row ml-1 input-group">
                                <div class="col-xs-3 col-lg-3 pl-ziro">
                                    <input type="text" formControlName="expiryMonth" class="form-control"
                                        id="expiryMonth" placeholder="AY" required />
                                </div>
                                <div class="col-xs-3 col-lg-3 pl-ziro">
                                    <input type="text" formControlName="expiryYear" class="form-control" id="expiryYear"
                                        placeholder="YIL" required />
                                </div>
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="creditCardForm.get('expiryMonth').hasError('required') && creditCardForm.get('expiryMonth').touched ||
                                    creditCardForm.get('expiryYear').hasError('required') && creditCardForm.get('expiryYear').touched">
                                    Son kullanım tarihi bilgisi zorunludur
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="creditCardForm.get('expiryMonth').hasError('pattern') || 
                                creditCardForm.get('expiryYear').hasError('pattern')">
                                    Bilgileriniz hatalı
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 col-md-5 pull-right">
                        <div class="form-group">
                            <label for="cvv">
                                CVV Kodu</label>
                            <input type="password" formControlName="cvv" class="form-control" id="cvv" placeholder="CVV"
                                required />
                        </div>
                        <div class="alert alert-danger" role="alert"
                            *ngIf="creditCardForm.get('cvv').hasError('required') && creditCardForm.get('cvv').touched">
                            Zorunlu!
                        </div>
                        <div class="alert alert-danger" role="alert"
                            *ngIf="creditCardForm.get('cvv').hasError('pattern')">
                            Hatalı!
                        </div>
                    </div>
                </div>
            </form>
            <ul class="nav nav-pills nav-stacked">
                <h6 class="card-subtitle text-muted mt-2 mb-2"><b>Toplam Fiyat:</b> {{totalPrice |
                    currency:"₺"}}</h6>
            </ul>
            <br />
            <button (click)='add()' class="btn btn-success btn-lg btn-block" role="button"
                [disabled]="!creditCardForm.valid">İşlemi Tamamla</button>
        </div>
    </div>