<div class="text-center login">
    <form class="form-signin" [formGroup]="loginForm">
        <img class="mb-4" src="../../../../favicon.ico" alt="" width="72"
            height="72">
        <h1 class="h3 mb-3 font-weight-normal">Giriş Yap</h1>
        <label for="inputEmail" class="sr-only">E-Posta</label>
        <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="E-Posta" required
            autofocus>
        <label for="inputPassword" class="sr-only">Parola</label>
        <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Parola"
            required>
        <button class="btn btn-lg btn-primary btn-block" (click)="login()">Giriş yap</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
</div> 