<div *ngIf="!dataLoaded" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
</div>

<table class="table" *ngIf="dataLoaded">
    <thead>
        <tr>
            <th>Rental ID</th>
            <th>Marka Adı</th>
            <th>Müşteri Adı</th>
            <th>Kullanıcı Adı</th>
            <th>Kiralama Tarihi</th>
            <th>Dönüş Tarihi</th>
            <th></th>
        </tr>
    </thead>
    <tr *ngFor="let rentalDetail of rentalDetails">
        <td>{{rentalDetail.rentalId}}</td>
        <td>{{rentalDetail.brandName}}</td>
        <td>{{rentalDetail.customerName}}</td>
        <td>{{rentalDetail.userName}}</td>
        <td>{{rentalDetail.rentDate | date: 'fullDate' }}</td>
        <td *ngIf="rentalDetail.returnDate">{{rentalDetail.returnDate | date: 'fullDate' }}</td>
        <td *ngIf="!rentalDetail.returnDate">No Return Date</td>
    </tr>
</table>