<div class="card">
    <div class="card-header">
        Marka
        <button routerLink='/admin/brands/add' class="btn btn-success float-right">Ekle</button>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <input id="brandFilter" type="text" class="form-control" [(ngModel)]="brandFilter.brandName"
                placeholder="Arama yapmak istediğiniz markayı yazınız">
        </div>
        <ul class="list-group">
            <li class="list-group-item" routerLink="/admin/brands/update/{{brand.brandId}}"
                *ngFor="let brand of brands| filterBy: brandFilter">
                {{brand.brandName}}</li>
            <li class="list-group-item" *ngIf="(brands | filterBy: brandFilter).length === 0">No matching elements</li>
        </ul>
    </div>
</div>