<div class="row">
    <div class="col-sm-3">
        <app-car-filter></app-car-filter>
    </div>
    <div class="col-md-9">
        <div class="d-flex justify-content-center">
            <div *ngIf="!dataLoaded" class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <app-car-card [carDetails]="carDetails" [imageBasePath]="imageBasePath">
        </app-car-card>
        <p class="lead text-center" *ngIf="(carDetails).length === 0 && dataLoaded">Aradığınız
            özelliklere ait araç bulunamadı</p>
    </div>
</div>