<div class="d-flex justify-content-center">
    <div *ngIf="!dataLoaded" class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="carDetail">
    <div id="carDetailCarousel" class="carousel slide col-md-8" data-ride="carousel">
        <div class="carousel-inner img-fluid">
            <div class="card" *ngIf="!carDetail.image.length">
                <img src="../../../../assets/images/no-image.png" class="bd-placeholder-img" width="100%" height="100%">
            </div>
            <div class="carousel-item card" *ngFor="let image of carDetail.image; let i=index"
                [ngClass]="(i === 0) ? 'active' : '' ">
                <img class="bd-placeholder-img" width="100%" height="100%" src="{{imageBasePath}}/{{image.imagePath}}">
            </div>
            <div class="container" *ngIf="carDetail.image.length > 1"> <a class="carousel-control-prev"
                    href="#carDetailCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carDetailCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card col-md-4" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{carDetail.brandName}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{carDetail.colorName}}</h6>
            <p class="card-text">{{carDetail.description}}</p>
            <app-rental-add [carDetail]="carDetail" [imageBasePath]="imageBasePath"></app-rental-add>
            <a routerLink="/cars" class="card-link">Geri Dön</a>
        </div>
    </div>
</div>